<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtCX8w-X4YmdLv6P-zrOth10gIz8pN7yw</string>
	<key>GCM_SENDER_ID</key>
	<string>693296645908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.icmt26proyecto</string>
	<key>PROJECT_ID</key>
	<string>fide-ea10c</string>
	<key>STORAGE_BUCKET</key>
	<string>fide-ea10c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693296645908:ios:998fa52e465f68cf99e401</string>
</dict>
</plist>